:root {
    --name-title-background-color: #020122;
    --mission-voice-over-background-color: #c0babc;
    --about-me-title-background-color: #ff495c;
    --about-me-paragraph-background-color: #56666b;
    --voice-acting-section-background-color: #ffd5c2;
    --text-title-section-color: #41ead4;
    --text-about-title-color: #020122;
}

@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

body {
    font-family: "Nunito", sans-serif;
    margin: 0;
}
p,
h1,
h2 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

p {
    /* font-size: 18px; */
    font-size: clamp(0.875rem, 0.7217rem + 0.7006vw, 1.5625rem); /* 14px-25px 350px-1920px */
    line-height: clamp(0.875rem, 0.7217rem + 0.7006vw, 1.5625rem); /* 14px-25px 350px-1920px */
}

.row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: column;
}

@media (max-width: 767px) {
    .row {
        grid-template-columns: 1fr;
        grid-auto-flow: row;
    }
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5%;
    box-sizing: border-box;
    min-height: 252px;
}

.wide-cell {
    grid-column: 1 / -1;
}

img.title-picture {
    width: 100%;
}

.bold-title {
    background-color: var(--name-title-background-color);
    gap: 36px;
}

.bold-title * {
    color: var(--text-title-section-color);
}

.bold-title h1 {
    /* font-size: 80px; */
    font-size: clamp(2.1875rem, 1.5605rem + 2.8662vw, 5rem); /* 35px-80px 350px-1920px */
    line-height: clamp(2.1875rem, 1.5605rem + 2.8662vw, 5rem); /* 35px-80px 350px-1920px */
}

.bold-title a {
    /* font-size: 20px; */
    font-size: clamp(1rem, 0.8049rem + 0.8917vw, 1.875rem); /* 16px-30px 350px-1920px */
    line-height: clamp(1rem, 0.8049rem + 0.8917vw, 1.875rem); /* 16px-30px 350px-1920px */
    transition: font-size 0.3s;
}

.bold-title a:hover {
    color: var(--about-me-title-background-color);
    /* font-size: 30px; */
    font-size: clamp(1.5625rem, 1.2142rem + 1.5924vw, 3.125rem); /* 25px-50px 350px-1920px */
}

.title-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}

.cell h2 {
    /* font-size: 40px; */
    font-size: clamp(1.875rem, 1.5267rem + 1.5924vw, 3.4375rem); /* 30px-55px 350px-1920px */
    line-height: clamp(1.875rem, 1.5267rem + 1.5924vw, 3.4375rem); /* 30px-55px 350px-1920px */
}

.mission-cell {
    background: var(--mission-voice-over-background-color);
    color: var(--name-title-background-color);
    gap: 30px;
}

.mission-cell p {
    text-align: justify;
    max-width: 1000px;
    margin: 0 auto;
}

.about-title-cell {
    background-color: var(--about-me-title-background-color);
    color: var(--text-about-title-color);
    min-height: 63px;
}

.about-me-cell {
    background-color: var(--about-me-paragraph-background-color);
    color: white;
    min-height: 200px;
}

.about-me-cell p {
    text-align: justify;
    max-width: 768px;
    margin: 0 auto;
}

.voice-acting-cell,
.singing-cell {
    background-color: var(--voice-acting-section-background-color);
}

.voice-over-cell {
    background-color: var(--mission-voice-over-background-color);
}

.voice-acting-cell h2,
.voice-over-cell h2,
.singing-cell h2 {
    color: var(--about-me-title-background-color);
}

.voice-acting-cell,
.voice-over-cell,
.singing-cell {
    gap: 20px;
}

.audio-file-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.audio-file {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 15px;
    gap: 20px;
}

.audio-file:hover {
    background-color: var(--about-me-title-background-color);
    border-radius: 50px;
}

.audio-file audio {
    height: 50px;
}

.audio-file p {
    color: var(--name-title-background-color);
    text-align: justify;
    width: 75%;
    margin-left: 10px;
}

@media (max-width: 767px) {
    .audio-file {
        flex-direction: column;
        gap: 10px;
    }
    .audio-file:hover {
        border-radius: 20px;
    }
    .audio-file audio {
        width: 100%;
        height: 30px;
    }
    .audio-file p {
        width: 100%;
        margin-left: 0;
    }
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--name-title-background-color);
    color: var(--text-title-section-color);
    padding: 20px 0;
}

.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.footer-icons a {
    height: 30px;
}

.footer-icons img {
    width: 30px;
    height: auto;
    transition: transform 0.3s;
}

footer img:hover {
    transform: scale(1.8);
}


